glob2
pybind11~=2.7.1
commentjson~=0.9.0
pyhocon==0.3.55
opencv-python==4.5.5.64
opencv-contrib-python==4.5.5.64
imageio~=2.16.0
numpy~=1.21.2
scipy~=1.7.1
pillow==9.0.0
tqdm~=4.62.2
jupyter
tensorboard
torchtyping
open3d
trimesh
PyMCubes